<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="logo-and-cameroo">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://i.ibb.co/VtW4JTw/clipart3128090-1.png" %>
      <% end %>
      <p>Cameroo</p>
    </div>
      <div class="search-bar">
        <%= form_tag items_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a camera"
          %>
        <% end %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Cameras", items_path, class: "nav-link" %>
          </li>
           <li class="nav-item">
            <%= link_to "Log-out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://s2.glbimg.com/xr_cP_kf3hq8QT0Ut2KI3MTwlYw=/0x0:4851x3234/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2022/4/F/YV0FQOQ9GBbMQeLCAixA/foto-camera.jpeg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Cameras", "#", class: "dropdown-item" %>
              <%= link_to "My Bookings", bookings_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
