<div class="container my-4 py-4 px-2 shadow-sm bg-white rounded">
  <h1 class="text-center my-5"><%= @booking.item.name %></h1>
  <div class="d-flex justify-content-center">
    <%= cl_image_tag @booking.item.photo.key, class: "w-50 p-4"%>
    <div class="p-5">
      <p>Rented by <%= @booking.item.user.email %></p>
      <p>Start date: <%= @booking.start_date %></p>
      <p>End date: <%= @booking.end_date %></p>
      <p>Total price: <%= @booking.item.price * (@booking.end_date - @booking.start_date) %>€</p>
      <%= link_to "Back", bookings_path, class:"btn btn-secondary" %>
    </div>
  </div>
  </div>
</div>
