<h1>All Cameras</h1>
<% @items.each do |item| %>
  <p><%= item.name %></p>
  <p><%= item.description %></p>
  <p><%= item.price %></p>
  <p><%= item.picture %></p>
  <p><%= item.adress %></p>

<% end %>
