<div class="container my-4 py-4 px-5 shadow-sm bg-white rounded">
  <div class="my_cameras_list m-5">
    <h1 class="text-center pt-3 pb-4">My Cameras</h1>
    <% @items.each do |item| %>
    <div class="card-product d-flex justify-content-start m-4">
      <%= cl_image_tag item.photo.key %>
      <div class="card-product-infos px-4">
        <h2><%= link_to item.name, item_path(item) %></h2>
        <ul>
        <% item.bookings.each do |booking| %>
          <li><%= link_to(booking_path(booking)) do %>
            Booked from <%= booking.start_date.day%>/<%= booking.start_date.month%>/<%= booking.start_date.year%> to <%= booking.end_date.day%>/<%= booking.end_date.month%>/<%= booking.end_date.year%> by <%= booking.user.email %>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>
